<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

<main>

  


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      
      <!-- /.col-lg-4 -->
      
      <!-- /.col-lg-4 -->
      
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading fw-normal lh-1"><span class="text-muted">Description de l'application</span></h1>
        <p class="lead">
       <strong> Une plateforme de gestion de certificats de domicile est un outil en ligne conçu pour faciliter le processus de délivrance et 
        de gestion des certificats de domicile. Les fonctionnalités peuvent inclure des formulaires en ligne pour la demande de certificats, un système de suivi des demandes,
        la vérification automatisée des informations et des documents requis, la délivrance en ligne de certificats électroniques sécurisés, 
        ainsi que des outils de gestion des certificats, tels que la mise à jour des informations et la notification en cas d'expiration. 
        La plateforme peut être accessible par les citoyens, les autorités locales et les agents immobiliers, ce qui simplifie le processus 
        de délivrance et de gestion des certificats de domicile pour toutes les parties impliquées.</strong>
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
         <img src="{{asset('node_modules/img/photos/P1.jpg')}}"/>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-right lh-1"> <span class="text-muted"style=" margin-left:30px;">Comment obtenir un certificat de domicile ?</span></h2>
        <p class="lead" style="text-align:left; margin-left:40px;">
          <strong> 
                Au Sénégal, un certificat de domicile peut être délivré à toute personne disposant d'une résidence fixe dans le pays. 
                Les documents requis pour obtenir un certificat de domicile peuvent varier selon la mairie, mais en général, 
                les pièces suivantes sont nécessaires :
                  Une preuve d'identité valide (carte d'identité nationale, passeport)
                  Une preuve de la résidence (facture d'électricité, de gaz, de téléphone, contrat de location)
                  Une demande écrite signée par le demandeur.
                  Un habitant doit s'inscrire dans un quartier en fournissant les documents ci-dessous.Le delegue chargé de ce quartier
                  doit soit accepter soit refuser si celui ne fait pas parti de son quartier.
                  Lorsqu'un habitant est accepté dans un quartier,ce dernier peut faire une demande de certificat de domicile qu'il 
                  pourra telecharger que si le delegue accepte de lui en fournir un.
          </strong>
        </p>

      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="10" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="justify:left;">
        <img src="{{asset('node_modules/img/photos/maxresdefault-Récupéré.jpg')}}"style="align:right;padding-right:50px;"/>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted">Nos Contacts.</span></h2>
        <p class="lead">
          <strong>
           
                        BOnjour
                        <p><i class="fa fa-map-marker-alt me-3"></i>Dakar,SENEGAL</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+221338716363</p>
                        <p><i class="fa fa-envelope me-3"></i>SamaDomicile@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
                        </div>
          </strong>
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
          <img src="{{asset('node_modules/img/photos/p9.jpg')}}"></img>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


 

</main>
