<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><i class="fa-brands fa-facebook nav-link px-2 text-primary"></i></li>
      <li class="nav-item"><i class="fa-brands fa-facebook-messenger nav-link px-2 text-primary"></i></li>
      <li class="nav-item"><i class="fa-brands fa-square-instagram nav-link px-2 text-primary"></i></li>
      <li class="nav-item"><i class="fa-brands fa-square-snapchat nav-link px-2 text-primary"></i></li>
      <li class="nav-item"><i class="fa-brands fa-linkedin nav-link px-2 text-primary"></i></li>
       <li class="nav-item"><i class="fa-brands fa-tiktok nav-link px-2 text-primary"></i></li>
    </ul>
    <p class="text-center text-muted">© 2022 sama-domicile: Sénégal informatisable</p>
  </footer>
</div>



                          

                         