<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
  <svg viewBox="0 0 2880 48" fill="none" xmlns="http.w3.org/2000/svg"></svg>
  </div>
</div>
<div class="container">
  
    
      <footer class="pt-2 my-2 text-muted border-top" style="text-align:center; margin-top:100px;">
      <span class="mb-3 mb-md-0 text-muted"  >Created by Racky Bocoum | Mouhamed Diagne &middot; &copy; projet de memoire année 2022</span>
   
   
  </footer>
</div>
