<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{path('app_accueil')}}" class="btn btn-outline-primary me-2">Accueil</a></li>
        <li><a href="#" class="btn btn-outline-primary me-2">A propos</a></li>
        <li><a href="#" class="btn btn-outline-primary me-2">Nos Contacts</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="{{path('app_login')}}"><button type="button" class="btn btn-outline-primary me-2" >Connexion</button></a>
       <a href="{{path('app_register')}}"> <button type="button" class="btn btn-primary">Inscription</button></a>
      </div>


      

  



    </header>
  </div>